.axis path, .axis line {
fill: none;
stroke: black;
shape-rendering: crispEdges;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
}
